{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
 <div id="main" class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8 movie-card mt-3">
            <h1 class="h4">الإعدادات</h1>
            <ul class="list-group list-group-numbered bg-card">
                <li class="list-group-item d-flex bg-card">
                    <a href="{% url 'profile_update' user.id %}">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">
                                <span class="fa fa-user mr-2"></span>
                                <strong>{% trans "المف الشخصي" %}</strong>
                            </div>
                            {% trans "تعديل الصورة, رقم الهاتف, الدولة..." %}
                        </div>
                    </a>
                </li>
                <li class="list-group-item d-flex bg-card">
                    <a href="{% url 'user_update_info' %}">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">
                                <span class="fa fa-suitcase mr-2"></span>
                                <strong>{% trans "تعديل معلومات الإتصال" %}</strong>
                            </div>
                            {% trans "تعديل البريد الإلكتروني, إسم المستخدم..." %}
                        </div>
                    </a>
                </li>
                <li class="list-group-item d-flex bg-card">
                    <a href="{% url 'change_password' %}">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">
                                <span class="fa fa-lock mr-2"></span>
                                <strong>{% trans "Password" %}</strong></div>
                            {% trans "تغير كلمة السر." %}
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
 </div>


{% endblock content %}