{% extends 'base.html' %}

{% block content %}
<div class="container-fluid mt-2">
  <div class="row">
      {% for video in animes  %}
      <div class="p-0 m-0 mb-3 col-md-2 p-1">
        <div class="movie-card">
         <div class="rounded p-0 overflow-hidden border position-relative">
             <a href="/video/{{ video.slug }}">
                 {% if video.image %}
                 <img width="100%" class="cover movie-image" src="{{ video.image.url }}"  alt="{{ video.title }}">
                 {% else %}
                 <img width="100%" src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.jpg"  alt="{{ video.title }}">                            {% endif %}
             </a>
             <div class="movie-card-shadow"> </div>
         </div>
         <div class="rounded p-0 overflow-hidden pt-2">
             <h2 class="card-title mb-0">
                 <a href="/video/{{ video.slug }}" class="text-white">{{ video.title }}</a>
             </h2>
         </div>
        </div>
     </div>
      {% empty %}
      <h1 class="text-center my-5">No Videos</h1>
      {% endfor %}
  </div>
</div>
{% endblock content %}