{% extends 'base.html' %}

{% block content %}
<div class="container-fluid mt-2">
  <div class="row">
    <div class="col-md-2 p-1 ">
      <div class="bg-card p-2 rounded">
        
      </div>
    </div>
    <div class="col-md-2 p-1 ">
      <div class="bg-card p-2 rounded">
        
      </div>
    </div>
    <div class="col-md-2 p-1 ">
      <div class="bg-card p-2 rounded">
        
      </div>
    </div>
    <div class="col-md-2 p-1 ">
      <div class="bg-card p-2 rounded">
        
      </div>
    </div>
    <div class="col-md-2 p-1 ">
      <div class="bg-card p-2 rounded">
        
      </div>
    </div>
    <div class="col-md-2 p-1 ">
      <div class="bg-card p-2 rounded">
        
      </div>
    </div>
    
     
  </div>
</div>
{% endblock content %}