{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}


<div class="container mt-2">
    <div class="row d-flex">
        <div class="col-md-6 mt-3 justify-content-center movie-card">
          <h1 class="h3">Create new List</h1>
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form|crispy}} 
            <button class="btn btn-success w-100 mt-2" type="submit">Create</button>
          </form>
          {% comment %} <div id="upload"></div> {% endcomment %}
          <div class="progress" style="display: none;">
              <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
    </div>
</div>

<script type="text/babel">
    const App = () => {

        const [width, setWidth] = React.useState(0)
        const [progress, setProgress] = React.useState(false)

        const upload = async (e) => {
            e.preventDefault();
          
            const progressBar = document.querySelector('.progress-bar');
            const progressContainer = document.querySelector('.progress');
            progressBar.style.width = '0%';
            progressContainer.style.display = 'block';
          
            const formData = new FormData(e.target);
            try {
              const response = await axios.post('/upload/', formData, {
                onUploadProgress: (progressEvent) => {
                  const progress = Math.round((progressEvent.loaded / progressEvent.total) * 100);
                  progressBar.style.width = `${progress}%`;
                  progressBar.setAttribute('aria-valuenow', progress);
                  progressBar.innerHTML = `${progress}%`;
                },
              });
          
              console.log(response);
              progressContainer.style.display = 'none';
            } catch (error) {
              console.log(error);
              progressContainer.style.display = 'none';
            }
          };
          


        return (
            <form onSubmit={upload} method="POST" encType="multipart/form-data">
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
                <label htmlFor="id_title">Title:</label>
                <input className="form-control" type="text" name="title" maxLength="255" required id="id_title" />
                <label htmlFor="id_image">Image:</label>
                <input className="form-control" type="file" name="image" accept="image/*" id="id_image" />
                <label htmlFor="id_description">Description:</label>
                <textarea className='form-control' name="description" cols="40" rows="5" required id="id_description"></textarea>
                <label htmlFor="id_tags">Tags:</label>
                <input className="form-control" type="text" name="tags" maxLength="200" id="id_tags" />
                <label htmlFor="id_video_file">Video file:</label>
                <input className="form-control" type="file" name="video_file" required id="id_video_file" />
                <button className="btn btn-success mt-3">Create</button>
            </form>
        );
    };

    ReactDOM.render(<App />, document.getElementById('upload'));
</script>

{% endblock content %}