{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-xxl mt-2">
    <div class="row">
        {% for list in lists %}
        <div class="m-0 mb-3 col-6 col-sm-4 col-md-3 col-lg-2 col-xl-2 p-1">
            <div class="movie-card m-0">
             <div class="rounded p-0 overflow-hidden border position-relative">
                <a href="/play-list/{{ list.slug }}">
                    {% if list.image %}
                        <img width="100%" class="cover movie-image lazy" src='{% static "img/lazy.svg" %}' data-src="{{ list.image.url }}"  alt="{{ list.title }}">
                    {% else %}
                        <img width="100%" class="cover movie-image" src='{% static "img/lazy.svg" %}' alt="{{ list.title }}">
                    {% endif %}
                 </a>
                 <div class="movie-card-shadow"> </div>
                 {% comment %} <div class="movie-card-badg">الموسم {{ list.season }}</div> {% endcomment %}
             </div>
             <div class="rounded p-0 overflow-hidden pt-2">
                 <h2 class="card-title mb-0">
                     <a href="/play-list/{{ list.slug }}" class="text-white">{{ list.title|truncatechars:70  }}</a>
                 </h2>
             </div>
            </div>
         </div>
        {% empty %}
        <h1 class="text-center h4 my-5 text-white">لا توجد مسلسلات</h1>
        {% endfor %}
           <main aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {% if lists.has_previous %}
                        <li class="page-item">
                            <a class="page-link bg-card" href="?page={{ lists.previous_page_number }}">السابق</a>
                        </li>
                    {% endif %}
            
                    {% for num in lists.paginator.page_range %}
                        {% if num > lists.number|add:'-4' and num < lists.number %}
                            <li class="page-item">
                                <a class="page-link bg-card" href="?page={{ num }}">{{ num }}</a>
                            </li>
                        {% endif %}
            
                        {% if lists.number == num %}
                            <li class="page-item active">
                                <a class="page-link bg-card" href="#">{{ num }}</a>
                            </li>
                        {% endif %}
            
                        {% if num > lists.number and num <= lists.number|add:'4' %}
                            <li class="page-item">
                                <a class="page-link bg-card" href="?page={{ num }}">{{ num }}</a>
                            </li>
                        {% endif %}
            
                        {% if num == lists.paginator.num_pages|add:'-1' and num < lists.number|add:'5' %}
                            <li class="page-item">
                                <a class="page-link bg-card" href="?page={{ num }}">...</a>
                            </li>
                        {% endif %}
                    {% endfor %}
            
                    {% if lists.has_next %}
                        <li class="page-item">
                            <a class="page-link bg-card" href="?page={{ lists.next_page_number }}">التالي</a>
                        </li>
                    {% endif %}
            </ul>
        </main>
    </div>
</div>
{% endblock content %}