{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid mt-2">
    <div class="row">
        {% for list in lists %}
        <div class="p-0 m-0 mb-3 col-md-2 p-1">
            <div class="movie-card m-0">
             <div class="rounded p-0 overflow-hidden border position-relative">
  
                <a href="/play-list/{{ list.slug }}">
                    {% if list.image %}
                        <img width="100%" class="cover movie-image lazy" src='{% static "img/lazy.svg" %}' data-src="{{ list.image.url }}"  alt="{{ list.title }}">
                    {% else %}
                        <img width="100%" class="cover movie-image" src='{% static "img/lazy.svg" %}' alt="{{ list.title }}">
                    {% endif %}
                 </a>
                 <div class="movie-card-shadow"> </div>
             </div>
             <div class="rounded p-0 overflow-hidden pt-2">
                 <h2 class="card-title mb-0">
                     <a href="/play-list/{{ list.slug }}" class="text-white"> مشاهدة مسلسل {{ list.title|truncatechars:70  }}</a>
                 </h2>
             </div>
            </div>
         </div>
        {% empty %}
        <h1 class="text-center h4 my-5 text-white">لا توجد مسلسلات</h1>
        {% endfor %}
    </div>
</div>
{% endblock content %}