{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block head %}
    <link rel="stylesheet" href="https://cdn.plyr.io/3.7.8/plyr.css">
    <script>
        window.console = window.console || function (t) { };
    </script>
{% endblock %}

{% block content %}
<div class="container-xxl mt-3">
    <div class="row">
        <div class="col-12 col-md-7">
        <!-- Video  -->


            <div id="image-content">
                {% if not movie.scraping_url %}
                <video controls crossorigin playsinline poster="{% static 'img/background.svg' %}" id="player" class="border w-100">
                    <!-- movie files -->
                    {% for video in videos %}
                    {% if forloop.first %}
                    {% if video.video_file %}
                    <source src="{{ video.video_file.url }}" type="video/mp4" size="720">
                    {% else %}
                    <source src="{{ video.url }}" type="video/mp4" size="720">
                    {% endif %}
                    {% else %}
                    {% endif %}
                    {% endfor %}
                    <!-- Fallback for browsers that don't support the <video> element -->
                </video>
                {% else %}
                
                
                
                <!-- Movie image -->
                
                
                <div class="plyr__video-embed plyr__control overflow-hidden rounded d-flex justify-content-center bg-card"  id="player">
                    <div id="loading" class="mt-5"></div>
                </div>
                {% endif %}
            </div>

            <!-- Ttitle & time -->
            <h1 class="h5 m-0 fw-bold text-white mt-2">{{ movie.title }}</h1>
            <p class="p-0 m-0 text-mut">{{ movie.views.all.count}} مشاهدات - {{ movie.uploaded_at|naturaltime }}</p>

            <!-- Video Pulbisher -->
            <div class="my-2 d-flex justify-content-between">
                <a href="{% url 'profile' movie.user.profile.slug %}" class="rounded-pill d-flex align-items-center text-white">
                    <img width="40px" class="rounded-pill border" style="object-fit: cover;" height="40px" width="40px" src="{{ movie.user.profile.avatar.url }}" alt="{{ movie.user.first_name }}">
                    <div class="mx-3" style="line-height: 1;">
                        <p class="m-0 fw-bold">{{ movie.user.first_name }} {{ movie.user.last_name }}</p>
                        <small>{{ movie.user.profile.followers.all.count }} متابعون</small>
                    </div>
                </a>
                {% comment %} <button class="btn btn-success btn-sm rounded-pill px-3"> <i class="bi bi-patch-minus"></i> &#xa0;متابعة </button> {% endcomment %}
            </div>


            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6043226569102012"
            crossorigin="anonymous"></script>
            <!-- full-width -->
            <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-6043226569102012" data-ad-slot="4567237334"
                data-ad-format="auto" data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>

            <!-- Download links -->
            <div class="my-3" id="download-btns">
                {% if not movie.scraping_url %}
                    {% for video in videos %}
                    {% if video.video_file %}
                    <a href="{{ video.video_file.url }}" class="btn btn-success rounded-pill mt-2" download><i
                            class="bi bi-cloud-download"></i> &#xa0; {{ video.quality }}</a>
                    {% else %}
                    <a href="{{ video.url }}" class="btn btn-success rounded-pill mt-2" download><i class="bi bi-cloud-download"></i> &#xa0;
                        {{ video.quality }}</a>
                    {% endif %}
                    {% endfor %}
                {% endif  %}

                <!-- Shear button -->
                <button class="btn btn-primary rounded-pill mt-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <i class="bi bi-share"></i> &#xa0; مشاركة
                </button>

                <!-- Update / Delete buttons  -->
                {% if user.is_superuser %}
                    <a href="{% url 'movie-update' movie.slug %}" class="btn btn-info rounded-pill mt-2 text-white"><i class="bi bi-pen"></i> &#xa0; تعديل</a>
                    <a href="{% url 'delete_movie' movie.id %}" onclick="return confirm('هل أنت متأكد من حذف الفيلم.')" class="btn btn-danger rounded-pill mt-2"><i class="bi bi-trash3"></i> &#xa0; حذف</a>
                {% endif %}

            </div>
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6043226569102012"
                crossorigin="anonymous"></script>
            <!-- full-width -->
            <ins class="adsbygoogle"
                style="display:block"
                data-ad-client="ca-pub-6043226569102012"
                data-ad-slot="4567237334"
                data-ad-format="auto"
                data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>

            <ul class="list-group mb-2">
                {% if movie.episode %}
                    <li class="list-group-item bg-card d-flex justify-content-between align-items-center row m-0 px-2">
                        <div class="col-6">مسلسل</div>
                        <div class="col-6 fw-bold">{{ movie.list.serie.title}} </div>
                    </li>
                    <li class="list-group-item bg-card d-flex justify-content-between align-items-center row m-0 px-2">
                        <div class="col-6">حلقة</div>
                        <div class="col-6 fw-bold">{{ movie.episode }} </div>
                    </li>
                    <li class="list-group-item bg-card d-flex justify-content-between align-items-center row m-0 px-2">
                        <div class="col-6">مشاهدة</div>
                        <div class="col-6 fw-bold">{{ movie.views.all.count}} </div>
                    </li>
                {% else %}
                {% endif %}
                {% if movie.list.subscription %}
                <li class="list-group-item d-flex bg-card justify-content-between align-items-center row m-0 px-2">
                    <div class="col-6">الشركة المنتجة</div>
                    <div class="col-6 fw-bold">{{ movie.list.subscription }} </div>
                </li>
                {% endif %}
            </ul>

            <!-- Descktop Episode -->
            <div class="d-block d-md-none ">
                {% include 'components/episode.html' %}    
            </div>

            <!-- Video Description -->
            <div class="mt-3 text-white py-2" style="white-space: pre-line;">
                {% if movie.list %}
                    {% if movie.list.description %}
                        {{ movie.list.description }}
                    {% else %}
                        {{ movie.description }}
                    {% endif %}
                {% else %}
                    {{ movie.description }}
                {% endif %}
            </div>

            <!-- Recomended Movis -->
            <div class="card bg-card my-2">
                <h2 class="h4 text-white p-2 m-0">أفلام ومسلسلات ذات صلة</h2>
            </div>
            {% include 'components/movies.html' %}            
        </div>
        <!-- Mobile Episode -->
        <div class="col-12 col-md-5 d-none d-md-block ">
            {% include 'components/episode.html' %}    
        </div>
    </div>
</div>

  <!-- Shear Modal -->
  <div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title fs-5 h1" id="exampleModalLabel">مشاركة مع الأصدقاء</div>
        </div>
        <div class="modal-body">
        <ul class="d-flex justify-content-around p-3 list-unstyled">
            <li>
                <a href="whatsapp://send/?text={{ video.title }} {{ request.build_absolute_uri  }}" class="fs-1" target="_blank" style="color: rgb(37, 211, 102);">
                    <i class="bi bi-whatsapp"></i>
                     <span class="d-none">whatsapp</span>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/sharer/sharer.php?u={{ video.title }} {{ request.build_absolute_uri  }}" class="fs-1" target="_blank" style="color: rgb(24, 119, 242);">
                     <i class="bi bi-facebook"></i> 
                     <span class="d-none">facebook</span>
                </a>
            </li>
            <li>
                <a href="https://twitter.com/intent/tweet?url={{ video.title }} {{ request.build_absolute_uri  }}" class="fs-1" target="_blank" style="color: rgb(29, 161, 242);">
                    <i class="bi bi-twitter"></i>
                    <span class="d-none">twitter</span>
                </a>
            </li>
            <li>
                <a href="https://telegram.me/share/url?url={{ video.title }} {{ request.build_absolute_uri  }}" class="fs-1" target="_blank" style="color: rgb(0, 136, 204);">
                    <i class="bi bi-telegram"></i>
                    <span class="d-none">telegram</span>
                </a>
            </li>
        </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger rounded-pill" data-bs-dismiss="modal">غلق</button>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}


{% block footer %}
    <script src="https://cdn.plyr.io/3.7.8/plyr.js"></script>
    <script src="{% static 'script.js' %}"> </script>
    <script>
    const getData = async () => {
        try {
            const response = await fetch(`/api/movie/{{ movie.slug }}`);
            const data = await response.json();

            if (Array.isArray(data.qualities) && data.qualities.length > 0 && data.servers?.length > 0) {
                document.getElementById('player').innerHTML = `<iframe src="${data.servers[0].url}" allowfullscreen allowtransparency allow="autoplay"></iframe>`;
            }

            if (data.qualities) {
                data.qualities.forEach(item => {
                    document.getElementById('download-btns').innerHTML += `<a href="${item.url}" class="btn btn-success rounded-pill mt-2" target="_blank" download><i class="bi bi-cloud-download"></i>&#xa0;${item.quality}</a>`;
                });
            } else {
                if ("{{ movie.scraping_url }}".length > 10) {
                    document.getElementById('image-content').innerHTML = `{% if movie.list %}{% if movie.list.image %}<img class="book-detail-image" src="{{movie.list.image.url}}" height="auto" width="auto" alt="{{ movie.title }}">{% else %}<img class="book-detail-image" src="{% static 'img/lazy.svg' %}" height="auto" width="auto" alt="{{ movie.title}}">{% endif %}{% else %}{% if movie.image %}<img class="book-detail-image" src="{{movie.image.url}}" height="auto" width="auto" alt="{{ movie.title}}">{% else %}<img class="book-detail-image" src="{% static 'img/lazy.svg' %}" height="auto" width="auto" alt="{{ movie.title}}">{% endif %}{% endif %}`;
                }
            }
        } catch (error) {
            console.error("Error fetching data:", error);
        }
    };

    getData();
    </script>

{% endblock footer %}