.video-list-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px
}

*,
.rubik {
    font-family: Rubik, sans-serif !important
}

.reem {
    font-family: 'Reem Kufi Fun', sans-serif !important
}

.ruwudu {
    font-family: Ruwudu, serif !important
}

:root {
    --bg-body: #000000;
    --bg-form: #6d758d;
    --bg-card: #1b1d2f;
    --color-text: #5367ff
}

@media (prefers-reduced-motion:no-preference) {
    :root {
        scroll-behavior: smooth
    }
}

nav {
    background-color: var(--bg-card) !important
}

.nav-link:hover {
    background-color: #6d758d
}

.movie-body {
    white-space: pre-line !important
}

.container {
    max-width: 800px;
    margin: 0 auto
}

.plyr {
    border-radius: 4px;
    margin-bottom: 15px
}

.movie-card,
.movie-card div {
    border-radius: 15px
}

body {
    background-color: #000 !important;
    margin: 0;
    font-family: Rubik,
}

a {
    text-decoration: none !important
}

.card-title {
    font-size: 14px;
    font-weight: 800;
    height: 35px
}

.movie-card div a {
    height: 300px;
    overflow: hidden
}

.movie-card div a img {
    transition: transform .5s
}

.movie-card div a:hover img {
    transform: scale(1.1)
}

.movie-card {
    vertical-align: top;
    position: relative;
    margin: 0 8px 16px;
    text-align: inherit;
    background: #1b1d2f;
    padding: 8px 8px 22px;
    color: #fff !important
}

.movie-card-shadow {
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 3;
    color: #fff;
    left: 0;
    padding: 24px 10px 8px;
    border-radius: 8px !important;
    background: linear-gradient(to top, rgba(0, 0, 0, .91), rgba(0, 0, 0, 0))
}

.bg-card,
tbody,
td,
th,
tr {
    background-color: var(--bg-card) !important;
    color: #fff !important
}

.form-control {
    background-color: #6d758d !important;
    color: #fff !important;
    border: 1px solid #000 !important
}

.form-control::placeholder {
    color: #fff !important
}

.text-mut {
    color: var(--color-text) !important
}

.cover {
    object-fit: cover !important
}

.movie-image {
    height: 275px !important
}

.sticky {
    position: sticky;
    top: 0;
    background-color: #ff0;
    padding: 10px
}

.hero-section {
    position: relative;
    height: 500px;
    overflow: hidden;
    display: flex;
    align-items: center
}

.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5)
}

.hero-text {
    position: relative;
    z-index: 1;
    width: 50%;
    margin: auto;
    color: #fff;
    text-align: center
}

.hero-text h1 {
    font-size: 36px;
    margin-bottom: 20px
}

.hero-text p {
    font-size: 18px;
    margin-bottom: 40px
}

.movie-card-badg {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #202e95db;
    color: #fff;
    line-height: 34px;
    padding: 0 8px;
    border-radius: 8px
}

.category-movie {
    background-color: var(--bg-card);
    padding: 4px;
    transition: .3s
}

.category-movie:hover {
    background-color: #000 !important
}

.overflow-auto {
    max-height: 100vh
}

.overflow-auto::-webkit-scrollbar {
    width: 10px
}

.overflow-auto::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 2px
}

.overflow-auto::-webkit-scrollbar-thumb {
    background: rgba(128, 128, 128, .596);
    border-radius: 20px
}

.overflow-auto::-webkit-scrollbar-thumb:hover {
    background: gray
}

.lazy {
    opacity: 0;
    transition: opacity .3s ease-in
}

.lazy.loaded {
    opacity: 1
}

@media (max-width:767.98px) {
    .overflow-auto {
        max-height: auto;
        height: auto
    }
}

#loading {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid rgba(255, 255, 255, .3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: 1s ease-in-out infinite spin;
    -webkit-animation: 1s ease-in-out infinite spin
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg)
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg)
    }
}