{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% if title %} {{ title }}  {% else %} Freedaz - Dwonload Videos, Course, Tutorils, Movis {% endif %}</title>
    <link rel="stylesheet" href="https://cdn.plyr.io/3.4.6/plyr.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- Bootsrap icons -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"> -->

    <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>


    <script>
        window.console = window.console || function (t) { };
    </script>
</head>
<body translate="no">
    {% include "components/header.html" %}
    {% block content %}{% endblock content %}
    <script src="https://cdn.plyr.io/3.4.6/plyr.js"></script>
    <script src="{% static 'script.js' %}"> </script>
</body>

</html>