{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
<div class="container mt-3">
  <div class="col-md-8 movie-card p-0">
    <div class="mb-3">
      <div class="card-body p-0">
        <div class="row p-3">
          <div class="col-sm-3">
            <h6 class="mb-0">{% trans "الإسم الكامل" %}</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            {{page.user.first_name}} {{page.user.last_name}}
          </div>
        </div>
        <hr class="m-0">
        <div class="row p-3">
          <div class="col-sm-3">
            <h6 class="mb-0">{% trans "Email" %}</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            {{page.user.email}}
          </div>
        </div>
        {% if page.phone != 0 or user == page.user %}
        <hr class="m-0">
        <div class="row p-3">
          <div class="col-sm-3">
            <h6 class="mb-0">{% trans "الهاتف" %}</h6>
          </div>
          <div class="col-sm-9 text-secondary">
           {% if page.phone == 0 %} <a href="#" class="text-sm">إظافة رقم الهاتف</a> {% else %} {{page.phone}} {% endif %}
          </div>
        </div>
        {% endif %}

        {% if page.country != 0 or user == page.user %}
        <hr class="m-0">
        <div class="row p-3">
          <div class="col-sm-3">
            <h6 class="mb-0">{% trans "الدولة" %}</h6>
          </div>
          <div class="col-sm-9 text-secondary">
          {{page.country}}
          </div>
        </div>
        {% endif %}
        
        {% if user == page.user %}
        <hr class="m-0">
        <div class="row p-3">
          <div class="col-sm-12 mb-3">
            <a class="btn btn-info m-0 text-white" href="{% url 'profile_update' page.id %}">{% trans "تعديل المف الشخصي" %}</a>
          </div>
          <div class="d-flex">
            <a href="/settings" >المزيد من الإعدادات</a> 
            <a href="{% url 'logout' %}" class="mx-3"> تسجيل الخروج</a>
          </div>


        </div>
        
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}