{% extends 'base.html'%}
{% load static %}
{% load i18n %}
{% block content %}
<div class="page-login mt-3">
    <div class="row m-0 p-0 justify-content-center">
        <div class="movie-card col-sm-12  col-md-6 col-lg-4 col-xl-4">
            <div class="p-2">
                <h4 class="modal-title">{% trans 'تسجيل الدخول أو الإنضمام' %}</h4>
            </div>
            <div class=" p-2">
                {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li class="text-red">{{message}}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <div class="well mt-2">
                    <form class="p-1" method="POST" enctype="multipart/form-data" role="form">
                        {% csrf_token %}
                        <div class="mb-3">
                            <small class="text-danger">{{ form.username.errors }}</small>
                            <div class="mr-0 lang-text ">
                                {{form.username}}
                            </div>
                            <small class="text-info mb-2 mr-4">إسم المستخدم لا يحتوي على مسافة.</small>
                        </div>
                        <div class="mb-3">
                            <small class="text-danger">{{ form.email.errors }}</small>
                            {{form.email}}
                        </div>
                        <div class="mb-3">
                            <small class="text-danger">{{ form.first_name.errors }}</small>
                            {{form.first_name}}
                        </div>
                        <div class="mb-3">
                            {{form.last_name}}
                        </div>
                        <div class="mb-3">
                            {{form.password1}}
                        </div>
                        <div class="mb-3">
                            <small class="text-danger">{{ form.password2.errors }}</small>
                            {{form.password2}}
                        </div>
                        <div class="text-center mb-3">
                            <button class="btn btn-primary w-100  mb-2">{% trans 'تسجيل' %}</button>
                            <a href="{% url 'login' %}" class="btn-ag ag-blue mt-3 w-100">{% trans 'لدي حساب؟' %}</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
