<div class=" bg-card sticky overflow-auto mb-4">
    {% if movie.episode %}
    {{ movie.list.title }}
    <div class="row p-0 m-0">
        {% for episode in episodes %}
        <div class=" col-6">
            <div class="rounded border p-2 m-1">
                {% if movie == episode %}
                <a href="/movie/{{ episode.slug }}" class="d-flex align-items-center">
                    <div>
                        <i class="bi bi-pause-circle"></i>
                    </div>
                    <div class="mx-3 fw-bold">
                        الحلقة {{ episode.episode }}
                    </div>
                </a>
                {% else %}
                <a href="/movie/{{ episode.slug }}" class="d-flex align-items-center text-white">
                    <div>
                        <i class="bi bi-play-circle"></i>
                    </div>
                    <div class="mx-3 fw-bold">
                        الحلقة {{ episode.episode }}
                    </div>
                </a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
        {% else %}

        {% for category in categories %}
        <a href="/category/{{ category.slug }}"
            class="rounded d-flex align-items-center text-white mb-1 category-movie">
            <div>
                <img width="40px" height="40px" src="{{ category.image.url }}" />
            </div>
            <div class="mx-3 fw-bold">
                {{ category.name }}
            </div>
        </a>
        {% endfor %}


        {% endif %}

</div>
