{% load static %}

<style>
    .search-container {
        display: none;
    }

    .search-container input{
        width: 100%;
    height: 60px;
    }
</style>
<nav class="navbar navbar-expand-lg shadow-white position-relative">
    <div class="container-fluid" id="nav-container">

        <div class="search-container position-absolute top-0 w-100">
            <form method="GET" action="{% url 'movies_new' %}">
                <input type="text" id='mobile-search' class="px-3 bg-white border" value="{{ request.GET.q }}" name="q" placeholder="بحث...">
                <button type="button" class="btn position-absolute fs-2 end-0" id="close-btn">x</button>
            </form>
        </div>


        <a class="navbar-brand" href="/">
            <img width="35px" height="35px" src="{% static 'img/icon.svg' %}" alt="WeciiMaa">
        </a>
        <button class="navbar-toggler fs-2 text-white" aria-label="Search Button" title="Search" id="search-icon" type="button">
            <i class="bi bi-search"></i>
            <span class="d-none">Search Button</span>
        </button>
        <a href="/menu" aria-label="Menu" title="Menu" class="navbar-toggler fs-2 text-white" type="button">
            <i class="bi bi-list"></i>
            <span class="d-none">Menu</span>
        </a>
   
        <div class="collapse navbar-collapse d-flex justify-content-between d-none">
            <div class="col-md-4">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
               
                    <li class="nav-item">
                        <a class="nav-link rounded fw-bold text-white" href="{% url 'movies_new' %}">أفلام</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link rounded fw-bold text-white" href="/play-lists/">مسلسلات</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link rounded fw-bold text-white" href="/category/bf1d284c90cb4646a7fe2264cc1e9325/">كرتون</a>
                    </li>
                    
                    {% if user.is_superuser %}
                    <li class="nav-item">
                       <div class="dropdown">
                         <a class="nav-link rounded fw-bold text-white" type="button" data-bs-toggle="dropdown" aria-expanded="false">المزيد</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'create-movie' %}">+ فلم جديد </a></li>
                                <li><a class="dropdown-item" href="{% url 'create-play-list' %}">+ موسم جديد </a></li>
                                <li><a class="dropdown-item" href="{% url 'create-category' %}">+ صنف جديد </a></li>
                                <li><a class="dropdown-item" href="{% url 'serie_list' %}">+ مسلسل جديد </a></li>
                                <li><a class="dropdown-item" href="{% url 'create_episode' %}">+ حلقة جديد </a></li>

                            </ul>
                        </div>                    
                    </li>   
                    {% endif %}
                </ul>
            </div>
            <div class="col-md-4">
                <form class="d-flex" method='GET' action="{% url 'movies_new' %}" role="search">
                    <input class="form-control me-2 rounded-pill w-100" name='q' value="{{ request.GET.q }}" type="search" placeholder="بحث عن فلم , مسلسل, أنيمي..." aria-label="Search">
                </form>
            </div>
        
            <div>
                {% if user.is_authenticated %}
                <a href="{% url 'profile' user.username %}" class="rounded-pill">
                    <img width="40px" class="rounded-pill border" height="40px" src="{{ user.profile.avatar.url }}" alt="{{ user.username}}">
                </a>
                {% else %}
                    <a href="{% url 'login' %}" class="btn btn-outline-success rounded-pill">تسجيل الدخول</a>
                    <a href="{% url 'register' %}" class="btn btn-outline-primary rounded-pill">الإنضمام</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>

<script>
    var searchIcon = document.getElementById('search-icon');
    var searchContainer = document.querySelector('.search-container');
    var closeBtn = document.getElementById('close-btn');
    const mobileSearch = document.getElementById('mobile-search');

    searchIcon.addEventListener('click', function() {
        searchContainer.style.display = 'block';
        document.getElementById('nav-container').classList.add('p-0');
        mobileSearch.focus();
    });

    closeBtn.addEventListener('click', function() {
        searchContainer.style.display = 'none';
        document.getElementById('nav-container').classList.remove('p-0')
    });
</script>